@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header img {
	width: 80px;
}

header ul {
	display: flex;
	width: 45%;
	justify-content: space-between;
}

header ul li {
	list-style: none;
	font-weight: 600;
}

.container {
	padding: 40px 70px;
}

header button {
	width: 55px;
	height: 55px;
	outline: none;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border: none;
	background: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

header button img {
	width: 40%;
}

.circle {
	background: #ff7a01;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
	width: 22px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 700;
	border-radius: 25px;
	position: absolute;
	right: -5px;
	top: -5px;
}

.contenido {
	width: 100%;
	display: flex;
	position: relative;
}

.info {
	width: 35%;
	padding-top: 40px;
}

.info h1 {
	font-family: 'Chelsea Market', cursive;
	font-size: 3em;
}

.name {
	margin: 10px 0;
	color: #037943;
	font-size: 2em;
	font-weight: 700;
}

.info button {
	background: #ff7a01;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	width: 200px;
	height: 60px;
	outline: none;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
	color: white;
	font-weight: 700;
	margin-top: 35px;
}

.price {
	font-weight: 700;
	font-size: 2em;
	margin-top: 20px;
}

.img-container {
	width: 65%;
	max-height: 75vh;
	object-fit: cover;
	overflow: hidden;
}

.img-container img {
	width: 85%;
}

.social-buttons {
	width: 5%;
	position: relative;
}

.links {
	transform: rotate(-90deg);
	position: absolute;
	top: 50%;
	right: -110px;
}

.links a {
	text-decoration: none;
	color: black;
	font-weight: 700;
	margin: 0 20px;
}

.btns {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
}

.btn-r {
	width: 55px;
	height: 55px;
	outline: none;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border: none;
	background: #ff7a01;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
}
.btn-l {
	width: 55px;
	height: 55px;
	outline: none;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}
